<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- General description of your web application -->
    <display-name>Registration servlet</display-name>
    <servlet>
      <servlet-name>registration</servlet-name>
	  <servlet-class>com.oddlabs.regservlet.RegServlet</servlet-class>
	  <init-param>
		  <param-name>reg_key_pass</param-name>
		  <param-value>in8SHAow3tXjzeNkyuKx</param-value>
	  </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>registration</servlet-name>
      <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>
</web-app>
